
.contenedor {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
.fijo {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

/* incrementar y decrementar */
/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.espacioHeaderCarrito {
    margin-top: 150px;
}
.espacioHeader{
    margin-top: 86px;
}
.shadow {
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    overflow: hidden;
}
/* card2 */
.card2, .seccion, .cardExpan {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 90%;
    height: 150px;
    background-color: #FFF;
    
    margin: 0 auto;
    margin-bottom: 15px;
}
.cardCarrito {
    width: 90%;
    max-width: 800px;
    height: auto;
}
.seccion{
    height: 40px;
    margin-top: 30px;
    justify-content: left;
}
.seccion h2 {
    padding-left: 20px;
    font-size: 20px ;
    margin: 0;
}
.card2 .imgBox {
    position: relative;
}


.card2 .imgBox img {
    width: 150px;
    height: 150px;

}

.card2 .detalle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    border-left: 1px solid rgba(216, 216, 216, 0.424);
}
.card2 .detalleCarrito{
    flex-direction: row;
    /* align-items: center; */
   
}
.card2 .detalle h3{
    font-weight: 500;
    margin-bottom: 0;
    font-size: 14px;
}

.card2 .detalle .title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-bottom: 5px; */
}
.card2 .detalle .buy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card2 .detalle .title .price{
    font-size: 1.2em;    
}
.cardExpan .detalle .title .price{
    margin: 15px 0;
}
.card2 .detalle .btn2{
    background: #D9E7FA;
    padding: 0.4em 0.3em;
    
}
.card2 .detalle .btn2 a{
    text-decoration: none;
    color: #3483FA;
    font-size: 14px ;
}
.centro{
    display: flex;
    gap: 10px;
}

/* footer */
footer {
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p {
    color: #FFF;

}

.u-full-width {
    width: 100%;
    box-sizing: border-box; }

    .columns {
        width: 100%;
        float: left;
        box-sizing: border-box; 
    }

.flex {
    display: flex;
    justify-content: space-between;
    
}
.flex a {
    font-weight: 400;
    font-size: 12px;
}
/* carrito */
.carritoStyle {
    margin: 0 auto;
    border: 1px solid #FFF;
    padding: 5px;
    align-items: center;
    
    
}
@media(min-width:700px){
    /* Cambia la dirección de la card */
    .cardExpan .imgBox img {
        width: 300px;
        height: 300px;
    }
    .cardExpan {
        flex-direction: column;
        width: 300px;
        height: auto;
    }
    /* contenedor de productos */
    #productos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 90%;
        margin: 0 auto;
        gap: 30px;
        
    }
}


@media(min-width: 991px) {
    .submenu {
        position: relative;
    }
    .carritoStyle{
        margin-right: 2rem;
        max-width: 160px;
        flex-direction: column;
        align-items: center;
    }
    .card2 .detalle{
        flex-direction: row;
    }
    /* .card2 .imgBox img {
        width: 300px;
        height: 300px;
    }
    .card2 {
        flex-direction: column;
        width: 300px;
        height: auto;
    }
     */
     
}
